body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background: #fff; 
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    flex-shrink: 0;
    background-color: #F2F2F2;
    color: black;
    position: relative;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-title span {/*color para el segundo texto*/
    color: #cd171e;
}

.contact-button {
    background-color: #cd171e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.privacy-notice {
    color: black;
}

.social-icons a {
    color: #676364;
    text-decoration: none;
    margin-right: 10px;
}

.footer-bottom {
    background-color: #cd171e;
    padding: 20px;
}

.footer-bottom-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-bottom p {
    margin: 5px 0;
    font-size: 14px;
}

.footer-bottom .small-text {
    font-size: 12px;
}

.small-text{
    color: white;
}