* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #fff; 
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    /* url(../images/background/1.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
}

.navbar {
    background-color: #F2F2F2;
    border-top: 2.5px #cd171e solid;
    border-bottom: 2.5px #cd171e solid;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: #cd171e;
    padding: 1rem 1.5rem;
    display: block;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #e5e7eb;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 0;
    margin: 0;
    background-color: #F2F2F2;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 3;
    min-width: 200px;
    list-style-type: none;
}

.dropdown-item {
    position: relative;

}

.dropdown-link {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-link:hover {
    background-color: #e5e7eb;
}

.nav-item:hover > .dropdown,
.dropdown-item:hover > .dropdown {
    display: block;
}

.hamburguer {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 1rem;
}

.toggle {
    display: none;
}

/* Para pantallas pequeñas */
@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
    }
    
    .hamburguer {
        display: block;
    }

    .toggle:checked + .hamburguer + .nav-list {
        display: flex;
    }

    .nav-item {
        width: 100%;
    }

    .dropdown {
        position: static;
        display: none;
        width: 100%;
    }

    .nav-item:active > .dropdown,
    .dropdown-item:active > .dropdown {
        display: block;
    }

    .nav-item.active > .dropdown {
        display: block;
    }

    .nav-link, .dropdown-link {
        padding: 1rem;
    }

    /* Mostrar submenú cuando el enlace tiene focus o es clicado */
    .nav-item .nav-link:focus + .dropdown, 
    .nav-item .nav-link:active + .dropdown {
        display: block;
        
    }

}